*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

main{
    flex: 1 0 auto;
}

#hero-section{
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#br-word{
     background-color: rgba(0,0,0,0.7);
}

#hero-section h1{
    font-size: 40px;
}

#about-section{
    filter: grayscale(0.5);
}

#container1{
    display: flex;
}

.contact .contact-heading {
    padding-top: 40px;
    padding-bottom: 10px;
}

.contact .contact-para {
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact input {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    border: 1px solid gray;

}

.contact button {
    margin: 25px 0;
    padding: 5px 16px;
    background: #333;
    color: rgb(230, 238, 238);
    border: none;
    cursor: pointer;
}

.map img {
    max-width: 100%;
}

footer {
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
}

footer p {
    padding: 15px;
    font-size: 12px;
}